<template name="telemedicine">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="firstName">First Name</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="firstName" id="firstName" value="{{persodata.fname}}" required>
            </div>

            <label class="col-sm-2 control-label" for="lastName">Last Name</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="lastName" id="lastName" value="{{persodata.lname}}" required>
            </div>
        </div>
  
         {{#if patient}}
        <div class="form-group">
            <label class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-2">
                <div class="radio radio-male">
                    <input type="radio" name="gender" id="male" value="M" {{checkGender 'M'}}>
                    <label>Male</label>
                </div>
                <div class="radio radio-female">
                    <input type="radio" name="gender" id="female" value="F" {{checkGender 'F'}}>
                    <label>Female</label>
                </div>
            </div>
            <label class="col-sm-2 control-label" for="birthday">D.O.B.</label>
            <div class="col-sm-4 birthdayPicker select2-container">
                <div id="birthday" required aria-required="true"></div>
            </div>
            <label class="col-sm-1 control-label" for="age">Age</label>
            <div class="col-sm-1">
                <input type="text" class="form-control"  name="age" id="age" disabled>
            </div>
        </div>
        <div class="form-group hidden" id="minor">
            <label class="col-sm-2 control-label" for="mothersName">Mothers Name</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="mothersName" id="mothersName" value="{{persodata.mothersName}}" required="">
            </div>
            <label class="col-sm-2 control-label" for="fathersName">Fathers Name</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="fathersName" id="fathersName" value="{{persodata.fathersName}}" required="">
            </div>
        </div>
        {{/if}}
  
  
  <div class="form-group"> 
    {{#panel title="Patient history"}}
<label for="radiobtn" class="col-sm-2 control-label">Do you have diabete?</label>
<div class="col-sm-5">
             {{#if patient}}
<div class="radio radio-danger">
<input type="radio" name="survey" id="Radios1" value="Yes" checked>
<label>Yes</label>
</div>
<div class="radio radio-danger">
<input type="radio" name="survey" id="Radios1" value="No">
<label>No</label>
</div>
             {{/if}}
    </div>
<label for="radiobtn" class="col-sm-2 control-label">Do you have a neurological disease?</label>
<div class="col-sm-5">
             {{#if patient}}
<div class="radio radio-danger">
<input type="radio" name="survey" id="Radios1" value="Yes" checked>
<label>Yes</label>
</div>
<div class="radio radio-danger">
<input type="radio" name="survey" id="Radios1" value="No">
<label>No</label>
</div>
             {{/if}}
  </div>
 <label for="radiobtn" class="col-sm-2 control-label">Do you have asthma?</label>
<div class="col-sm-5">
             {{#if patient}}
<div class="radio radio-danger">
<input type="radio" name="survey" id="Radios1" value="Yes" checked>
<label>Yes</label>
</div>
<div class="radio radio-danger">
<input type="radio" name="survey" id="Radios1" value="No">
<label>No</label>
</div>
             {{/if}}
  </div>
  {{/panel}}
<div class="form-group"> 
  {{#panel title="Patient lifestyle"}}
<label for="radiobtn" class="col-sm-2 control-label">Do you smoke?</label>
<div class="col-sm-5">
             {{#if patient}}
<div class="radio radio-danger">
<input type="radio" name="survey" id="Radios1" value="Yes" checked>
<label>Yes</label>
</div>
<div class="radio radio-danger">
<input type="radio" name="survey" id="Radios1" value="No">
<label>No</label>
</div>
             {{/if}}
  </div>
<label for="radiobtn" class="col-sm-2 control-label">Do you Drink?</label>
<div class="col-sm-5">
             {{#if patient}}
<div class="radio radio-danger">
<input type="radio" name="survey" id="Radios1" value="Yes" checked>
<label>Yes</label>
</div>
<div class="radio radio-danger">
<input type="radio" name="survey" id="Radios1" value="No">
<label>No</label>
</div>
             {{/if}}
  </div>
 <label for="radiobtn" class="col-sm-2 control-label">Do you exercices?</label>
<div class="col-sm-5">
             {{#if patient}}
<div class="radio radio-danger">
<input type="radio" name="survey" id="Radios1" value="Yes" checked>
<label>Yes</label>
</div>
<div class="radio radio-danger">
<input type="radio" name="survey" id="Radios1" value="No">
<label>No</label>
</div>
             {{/if}}
  </div>
  {{/panel}}
 
</div>
  </div>
 
 
</template>
      
