<template name="telemedicine">

  <div class="form-group">
 
<label for="radiobtn" class="col-sm-2 control-label">Subscribe for updates?</label>
 
<div class="col-sm-5">
 
<div class="radio radio-danger">
 
<input type="radio" name="survey" id="Radios1" value="Yes" checked>
 
<label>
 
Yes
 
</label>
 
</div>
 
<div class="radio radio-danger">
 
<input type="radio" name="survey" id="Radios1" value="No">
 
<label>
 
No
 
</label>
 
</div>
 
<div class="radio radio-danger disabled">
 
<input type="radio" name="survey" id="Radios1" value="declater">
 
<label>
 
Decide later
 
</label>
 
</div>
 
</div>
 
</template>
      
